.events-grid {
    display: grid;
    margin: 5vw;
    grid-template-columns: repeat(5, 18vw);
    grid-auto-rows: minmax(400px, auto);
   
}

.image {
    width: 100%;
    height: 580px;
    position: absolute;
}

.image-container {
    filter: blur(7px);
    border-bottom: solid;
}

.background {
    background-image: url("../assets/poster/register-page-background-image.jpeg");
    opacity: 0.6;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    left: 50%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
}

.activeButton:active {
background-color: rgb(0, 94, 255); 
}

.input-checkout {
    width: 25vw;
    margin-bottom: 15px;
}

.page-link {
    color: #1F1F21;
}
