.events-grid {
    display: grid;
    margin: 5vw;
    grid-template-columns: repeat(6, 15vw);
    grid-auto-rows: minmax(400px, auto);
}

.image {
    width: 100%;
    height: 580px;
    position: absolute;
}

.image-container {
    filter: blur(7px);
    border-bottom: solid;
}

.hover {
    cursor: pointer;
}

.background {
    background-image: url("../assets/poster/register-page-background-image.jpeg");
    opacity: 0.6;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    left: 50%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
}