<div style="display: flex; width: 100%; height: 100vh;">
    <div style=" align-items: center; display: flex; margin: auto;">
        <div>
            <form class="jumbotron" style="width: 80vh;">
            <div style="margin: -30px auto -30px auto">
                <h2 class="center-text">Informe sua nova senha</h2>
                <hr>
                <div style="margin-top: 2rem;">
                    <label for="email">Senha</label>
                    <input class="form-control" type="password" ng-model="form.password" placeholder=""/>
                </div>
                <div style="margin-top: 2rem;">
                    <label for="email">Confirme a senha</label>
                    <input class="form-control" type="password" ng-model="form.password_confirmation" placeholder=""/>
                </div>
                <div style="margin-top: 2rem;">
                    <button class="btn btn-dark btn-block login-btn" ng-click="submitNewPassword()">Confirmar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
  </div>