<div>
    <nav style="background-color: black; color: white;">
        nav
    </nav>
    <h1 style="margin-top: 3rem; margin-left: 3vw; font-weight: bold;">Primeiro passo:</h1>
    <div>

    </div>

    <div
        style="text-align: left; margin-bottom: 30px; margin-left: 20vw; margin-top: 7vh; margin-right: 20vw; display: flex; flex-direction: column;">
        <div class="d-flex justify-content-between">
            <div>
                <div style="font-weight: bold; font-size: 30px; margin-bottom: 15px;">{{event.name}}</div>
                <i class="bi bi-calendar-event" style="margin-right: 10px;"></i>
                {{datetimeStart}} > {{datetimeEnd}}</br>
                <i class="bi bi-geo-alt fa-lg" style="padding-top: 1.1vh; padding-right:5px"></i>
                Evento em {{event.venue}} - {{event.street}}, {{event.number}}, {{event.city}} - {{event.state}}
            </div>

            <div style="display: flex; flex-direction: column;">
                <div
                    style="background-color: black; color: white; display: flex; align-items: center; justify-content: center; padding: 1rem;">
                    Ingressos
                </div>
                <div>
                    <tr>
                        <td style="font-weight:lighter; font-size: 15px;">LOTE ÚNICO<br>{{event.price | currency:
                            "R$"}}<br>
                            <p style="font-style: italic; font-size: 11px;">Vendas até {{dateStart}}</p>
                        <td>
                    </tr>
                </div>
            </div>


        </div>
        <form style="text-align: left; margin-bottom: 1rem; margin-top: 7vh;">
            <label>Nome *</label>
            <input type="text" class="form-control" style="width: 25vw; margin-bottom: 30px;"
                ng-model="clientData.name">
            <label>CPF *</label>
            <input type="text" class="form-control" style="width: 25vw; margin-bottom: 30px;" ng-model="clientData.cpf"
                ui-mask="999.999.999-99">
            <label>Email *</label>
            <input type="email" class="form-control" style="width: 25vw; margin-bottom: 30px;"
                ng-model="clientData.email">
            <label>Data de nascimento *</label>
            <input type="date" class="form-control" style="width: 25vw;" ng-model="clientData.born_at">
        </form>

        <div style="margin-top: 3rem; justify-content: center; display: flex;">
            <button ng-click="registerClientEvent()" class="btn btn-primary" ng-hide="!clientData.name || !clientData.cpf || !clientData.email || !clientData.born_at">Enviar</button>
        </div>
    </div>

</div>