<div>
    <h1 style="margin-top: 3rem; margin-left: 3vw; font-weight: bold;">Primeiro passo:</h1>
    <div>

    </div>

    <div
        style="text-align: left; margin-bottom: 30px; margin-left: 20vw; margin-top: 7vh; margin-right: 20vw; display: flex; flex-direction: column;">
        <div class="d-flex justify-content-between">
            <div>
                <div style="font-weight: bold; font-size: 30px; margin-bottom: 15px;">{{event.name}}</div>
                <i class="bi bi-calendar-event" style="margin-right: 10px;"></i>
                {{datetimeStart}} > {{datetimeEnd}}</br>
                <i class="bi bi-geo-alt fa-lg" style="padding-top: 1.1vh; padding-right:5px"></i>
                Evento em {{event.venue}} - {{event.street}}, {{event.number}}, {{event.city}} - {{event.state}}
            </div>

            <div style="display: flex; flex-direction: column;">
                <div
                    style="background-color: black; color: white; display: flex; align-items: center; justify-content: center; padding: 1rem;">
                    Ingressos
                </div>
                <div>
                    <tr>
                        <td style="font-weight:lighter; font-size: 15px;">LOTE ÚNICO<br>{{event.price | currency:
                            "R$"}}<br>
                            <p style="font-style: italic; font-size: 11px;">Vendas até {{dateStart}}</p>
                        <td>
                    </tr>
                </div>
            </div>


        </div>
        <form name="clientInfo" style="text-align: left; margin-bottom: 1rem; margin-top: 7vh;">
            <div style="margin-bottom: 30px;">
                <label>Nome *</label>
                <input name="nameInput" type="text" class="form-control" style="width: 25vw;" ng-model="clientData.name"
                    required>
                <span ng-show="clientInfo.nameInput.$error.required && clientInfo.nameInput.$dirty"
                    style="color: red; font-size: 11px;">Campo obrigatório *</span>
            </div>
            <div style="margin-bottom: 30px;">
                <label>CPF *</label>
                <input name="cpfInput" type="text" class="form-control" style="width: 25vw;" ng-model="clientData.cpf"
                    required ui-mask="999.999.999-99">
                <span ng-show="clientInfo.cpfInput.$error.required && clientInfo.cpfInput.$dirty"
                    style="color: red; font-size: 11px;">Campo obrigatório *</span>
            </div>
            <div style="margin-bottom: 30px;">
                <label>Email *</label>
                <input name="email" type="email" class="form-control" style="width: 25vw;" ng-model="clientData.email"
                    required>
                <span ng-show="clientInfo.email.$error.required && clientInfo.email.$dirty"
                    style="color: red; font-size: 11px;">Campo obrigatório *</span>
            </div>
            <div>
                <label>Data de nascimento *</label>
                <input name="date" type="date" class="form-control" style="width: 25vw;" ng-model="clientData.born_at"
                    required ng-pattern="pattern">
                <span ng-show="clientInfo.date.$error.required && clientInfo.date.$dirty"
                    style="color: red; font-size: 11px;">Campo obrigatório *</span>
                <span ng-show="clientInfo.date.$error.pattern" style="color: red; font-size: 11px;">Data inválida
                    *</span>
            </div>
        </form>

        <div style="margin-top: 3rem; justify-content: center; display: flex;">
            <button ng-click="registerClient()" class="btn btn-primary">Enviar</button>
        </div>
    </div>

</div>