<div style="padding: 2vh;">
  <div class="input-container" style="display: flex;">
    <i class="bi bi-search fa-sm" style="padding-top: 1.1vh; padding-right:5px; font-size: 24px;"></i>
    <input type="text" style="width:16vw; margin-right: 3vw; padding: 10px; border-radius: 8px; border-width: 1px;"
      placeholder="Buscar eventos..." ng-model="searchEvents" ng-change="listAllEvents()"
      ng-model-options="{ debounce: 500 }"
      uib-typeahead="event as event.name for event in events | filter:{name:$viewValue} | limitTo: 5"
      typeahead-template-url="views/customTemplate.html" typeahead-on-select="refresh(listAllEvents)">
    
    <i class="bi bi-geo-alt fa-lg" style="padding-top: 1.1vh; padding-right:5px"></i>
    <input type="text" style="width:10vw; margin-right: 3vw; border: none; border-radius: 8px;"
      placeholder="Localização" ng-model="searchLocation" ng-change="listLocations()"
      ng-model-options="{ debounce: 500 }"
      uib-typeahead="location as location for location in locations | filter:$viewValue"
      typeahead-template-url="views/customTemplate.html" typeahead-on-select="refresh(listLocations)">

    <div style="display: flex; margin-left: auto; margin-right: auto;">
      <input type="date" value="{{startOfMonth}}">
      <input type="date" value="{{endOfMonth}}">
      <button class="btn btn-primary">
        <i class="bi bi-search fa-sm"></i>
      </button>
    </div>

    <div style="margin-left: auto; margin-right: 0; align-self: center;">
      <a href="" style="text-decoration: none; align-self: center; font-size: 12px; padding-left: 20px;">SEJA UM PRODUTOR</a>
      <a href="" style="text-decoration: none; align-self: center; font-size: 12px; padding-left: 20px;">ACESSE SUA CONTA</a>
    </div>
  </div>

</div>

<div class="events-grid">
    <div ng-repeat="event in events | orderBy: 'event.id'" style="display: flex;">
        <img src="http://localhost:3000/image/{{event.Thumb.file_name}}" style="width: 20vh; height: 100%;">
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input>Nome
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>