<div>

    <div style="padding: 50px; border: solid 10px lightgray;">

        <div style="display: flex;justify-content: space-between;">
            <h1 style="text-transform: uppercase; margin-bottom: 2rem;">meus eventos <i class="bi bi-plus-circle"
                    ui-sref="createEvent" style="cursor: pointer;"></i></h1>
            <h6 style="text-transform: capitalize; cursor: pointer;"><i class="bi bi-box-arrow-in-right"
                    ng-click="logOut()"> logout</i></h6>
        </div>
        <table class="table">
            <thead style="font-size: 13px;">
                <tr>
                    <th style="text-transform: uppercase;">status</th>
                    <th>
                        <i class="fa-solid fa-sort" ng-click="inOrder('name')" style="cursor: pointer"></i>
                        <span style="text-transform: uppercase;">evento</span>
                    </th>
                    <th>
                        <i class="fa-solid fa-sort" ng-click="inOrder('state')" style="cursor: pointer"></i>
                        <span style="text-transform: uppercase;">estado</span>
                    </th>
                    <th>
                        <i class="fa-solid fa-sort" ng-click="inOrder('starts_at')" style="cursor: pointer;"></i>
                        <span style="text-transform: uppercase;">data e hora</span>
                    </th>
                    <th style="text-transform: uppercase;">espaço</th>
                    <th style="text-transform: uppercase;">editar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usersEvent in usersEvents | orderBy: orderMethod:orderDirection ">
                    <td ng-class="{ongoing: usersEvent.deleted_at === 'Ativo', over: usersEvent.deleted_at === 'Encerrado'}">{{usersEvent.deleted_at}}</td>
                    <td>{{usersEvent.name}}</td>
                    <td>{{usersEvent.state}}</td>
                    <td>{{usersEvent.starts_at}}</td>
                    <td>{{usersEvent.venue}}</td>
                    <td><i ng-click="goToEdit(usersEvent.id)" class="bi bi-pencil-square" ng-class="{unableToEdit: usersEvent.deleted_at === 'Encerrado'}"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>