<div>

    <div style="padding: 50px; border: solid 10px lightgray;">

        <div style="display: flex; justify-content: space-between; flex-direction: row;">
            <div>
                <h1 style="text-transform: uppercase; cursor: pointer;">meus eventos</h1>
                <h6 style="text-transform: uppercase; margin-bottom: 2rem; cursor: pointer;" ui-sref="createEvent">criar
                    evento <i class="bi bi-plus-circle"></i>
                </h6>
            </div>
            <div style="width: 8.5rem; cursor: pointer; justify-content: space-between; margin-bottom: 2rem;">
                <div style="display: flex; justify-content: end; flex-direction: column; align-items: center;">
                    <i style="font-size: 60px;" class="bi bi-person-circle" ng-click="goToProfile()"></i>
                    <h6 style="text-transform: uppercase; font-size: 12px; font-weight: bold;" ng-click="goToProfile()">
                        meu perfil</h6>
                </div>
            </div>
        </div>
        <table class="table">
            <thead style="font-size: 13px;">
                <tr>
                    <th>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div>
                                <form name="selectStatus">
                                    <div style="display:flex; flex-direction:row; align-items: center; height: 1.5rem;">
                                        <!-- <select ng-change="searchProfileEvents()" ng-model="status" name="statusTypes"
                                            class="form-control" style="border-radius: 0; font-size: 14px; border: solid 1px #ced4da; padding: 0.5rem; color: gray;"
                                            ng-options="statusType.value as statusType.name for statusType in statusTypes">
                                            <option selected value="">Status</option>
                                        </select> -->
                                        <span style="text-transform: uppercase; margin-left: 1rem;">status
                                            <!-- <i style="cursor: pointer;" class="fa-solid fa-sort"
                                                ng-click="inOrder('statusTypes')"></i> -->
                                        </span>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div>
                                <div class="input-group input-group-sm mb-3" style="height: 1rem;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"
                                                style="cursor: pointer;"></i></span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="searchText"
                                        ng-change="searchProfileEvents()" ng-model-options="{ debounce: 500 }"
                                        placeholder="Buscar eventos..." aria-label="Eventos"
                                        aria-describedby="inputGroup-sizing-sm">
                                    <span style="align-self: center; margin-left: 0.75rem;"><i style="cursor: pointer;"
                                            class="fa-solid fa-sort" ng-click="inOrder('name')"></i></i></span>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div>
                                <span style="text-transform: uppercase;">estado<i
                                        style="margin-left: 0.4rem; cursor: pointer;" class="fa-solid fa-sort"
                                        ng-click="inOrder('state')"></i></span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div>
                                <div style="display: flex; align-items: center;">
                                    <div style="height: 2rem;">
                                        <input ng-model="startDate"
                                            style="color: gray; font-size: 14px; border: solid 1px #ced4da; padding: 0.5rem;"
                                            ng-model="startDate" type="date" ng-change="searchProfileEvents()">
                                        <input ng-model="endDate"
                                            style="color: gray; font-size: 14px; border: solid 1px #ced4da; margin-right: 0.5rem; padding: 0.5rem;"
                                            ng-model="endDate" type="date" ng-change="searchProfileEvents()">
                                    </div>
                                    <span style="text-transform: uppercase;"><i
                                            style="margin-left: 0.4rem; cursor: pointer;" class="fa-solid fa-sort"
                                            ng-click="inOrder('starts_at')"></i></span>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="text-transform: uppercase;">espaço</th>
                    <th style="text-transform: uppercase;">editar</th>
                    <th style="text-transform: uppercase;">deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usersEvent in usersEvents | orderBy: orderMethod:orderDirection"
                    style="cursor: pointer;">
                    <td ng-click="manageEvent(usersEvent)"
                        ng-class="{ongoing: usersEvent.status === 'Aberto', over: usersEvent.status === 'Encerrado'}">
                        {{usersEvent.status}}</td>
                    <td ng-click="manageEvent(usersEvent)">{{usersEvent.name}}</td>
                    <td ng-click="manageEvent(usersEvent)">{{usersEvent.state}}</td>
                    <td ng-click="manageEvent(usersEvent)">{{usersEvent.starts_at | date: 'dd/MM/yyyy'}}</td>
                    <td ng-click="manageEvent(usersEvent)">{{usersEvent.venue}}</td>
                    <td><i ng-click="goToEdit(usersEvent.id)" class="bi bi-pencil-square"
                            ng-class="{unableToEdit: usersEvent.status === 'over'}"></i></td>
                    <td><i ng-click="deleteEvent(usersEvent.id)" class="bi bi-x-circle"
                            ng-show="!usersEvent.deleted_at"></i></td>
                </tr>
            </tbody>
        </table>
        <span style="display: flex; justify-content: center;" ng-show="notFound">Nenhum resultado encontrado.</span>
        <div style="justify-content: end; display: flex;">
            <h6
                style="border: solid 1px black; border-radius: 10px; padding: 5px; height: 1.5rem; text-transform: capitalize; cursor: pointer;">
                <i class="bi bi-box-arrow-in-right" ng-click="logOut()"> logout</i>
            </h6>
        </div>

        <pagination ng-if="loading" total-items="totalItems" items-per-page="5" list-fn="searchProfileEvents"
            page="page"></pagination>
    </div>
</div>