<div style="height: 100vh; display: flex; align-items: center; justify-content: center; background-image: url('../assets/poster/register-page-background-image.jpeg'); background-repeat: no-repeat; background-size: cover;">
    <div style=" display: flex; flex-direction: column; align-items: center;">
        <div class="centered">SEJA UM PRODUTOR</div>
        <form
            style="width: 20vw; background-color: rgba(194, 194, 194, 0.321); padding: 30px; border: solid 3px rgba(4, 3, 3, 0.758); border-radius: 5%">
            <div>
                <label style="color: white;"></label>
                <input class="form-control" placeholder="Nome"
                    style="margin-bottom: 3px; border: solid 2px rgba(0, 0, 0, 0.486);" ng-model="userData.name" ng-required="true" ng-minlength="2">
            </div>
            <div>
                <label style="color: white;"></label>
                <input class="form-control" placeholder="Sobrenome"
                    style="margin-bottom: 3px; border: solid 2px rgba(0, 0, 0, 0.486);" ng-model="userData.surname" ng-required="true" ng-minlength="2">
            </div>
            <div>
                <label for="exampleInputEmail1" style="color: white;"></label>
                <input type="email" class="form-control" placeholder="Email"
                    style="margin-bottom: 3px; border: solid 2px rgba(0, 0, 0, 0.486);" ng-model="userData.email" ng-required="true" ng-minlength="10">
            </div>
            <div>
                <label for="exampleInputPassword1" style="color: white;"></label>
                <input type="password" class="form-control" placeholder="Senha"
                    style="margin-bottom: 3px; border: solid 2px rgba(0, 0, 0, 0.486);" ng-model="userData.password" ng-required="true" ng-minlength="8">
            </div>
            <div>
                <label style="color: white;"></label>
                <input type="password" class="form-control" placeholder="Confirmar senha"
                    style="margin-bottom: 20px; border: solid 2px rgba(0, 0, 0, 0.486);" ng-model="userData.confirmPassword" ng-required="true" ng-minlength="2">
            </div>
            <div style="text-align: center;">
                <button type="button" ng-click="registerUser()">Cadastrar</button>
            </div>
        </form>
    </div>
</div>