<div style="position: absolute; display: flex;">
    <div style="background-color: black;">
        <img src="../assets/poster/register-page-background-image.jpeg"
            style="width: 100vw; height: 100vh; object-fit: cover; opacity: 60%; position: relative;">
        <div class="centered" style="position: absolute; top: 20%;">SEJA UM PRODUTOR</div>
    </div>
    <div style="margin-left: auto; margin-right: auto; position: relative;">
        <form
            style="width: 20vw; background-color: rgba(194, 194, 194, 0.321); padding: 30px; border: solid 3px rgba(4, 3, 3, 0.701); position: absolute; margin-left: -60vw; margin-top: 30vh; border-radius: 5%">
            <div>
                <label for="exampleInputEmail1" style="justify-content: left; color: white;"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                    style="margin-bottom: 20px; border: solid 2px rgba(0, 0, 0, 0.486);">
            </div>
            <div>
                <label for="exampleInputPassword1" style="color: white;"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha"
                    style="margin-bottom: 20px; border: solid 2px rgba(0, 0, 0, 0.486);">
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn" style="margin-bottom: 10px; background-color: rgba(0, 0, 0, 0.686); border: solid 2px black; color: white;">Cadastrar</button>
            </div>
        </form>
    </div>
</div>