<div>
    <form style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div style="display: flex; flex-direction: column; width: 20rem; border: solid 1px black; border-radius: 20px; padding: 3rem;">
            <label>Nome</label>
            <input ng-model="user.name" type="text" style="margin-bottom: 2rem;">
            <label>Email</label>
            <input ng-model="user.email" type="text" style="margin-bottom: 2rem;">
            <label>Senha</label>
            <input ng-model="user.password" type="password" style="margin-bottom: 2rem;">
            <label>Nova senha</label>
            <input ng-model="user.password" type="password" style="margin-bottom: 2rem;">
            <div style="align-self: center;">
                <button style="width: 5rem" type="submit">Atualizar</button>
            </div>
        </div>
    </form>
</div>